/* style.css */

.scene{
    -fx-background-color: rgb(179, 189, 197);
    -fx-font-family: "Roboto Light";
}


.button{
    -fx-background-color: rgb(146, 153, 229);
}

.button:hover{
    -fx-background-color: rgb(134, 141, 229);
}

.tache{
    -fx-background-color: rgb(112, 119, 122);
}

.tache Label{
    -fx-text-fill: white;
}

.tache:hover{
    -fx-background-color: rgb(131, 138, 141);
}

.tacheFaible{
    -fx-background-color: green;
}
.tacheFaible:hover{
    -fx-background-color: #1d8d1d;
}

.tacheMoyenne{
    -fx-background-color: orange;
}
.tacheMoyenne:hover{
    -fx-background-color: #FFD700;
}

.tacheImportante{
    -fx-background-color: red;
}

.tacheImportante:hover{
    -fx-background-color: #FF6347;
}

.racine{
    -fx-background-color: black;
    -fx-text-fill: white;
}
