/* style.css */

.scene{
    -fx-background-color: rgb(179, 189, 197);
    -fx-font-family: "Roboto Light";
}


.button{
    -fx-background-color: rgb(146, 153, 229);
}

.button:hover{
    -fx-background-color: rgb(134, 141, 229);
}


.tacheFaible{
    -fx-background-color: #1d8d1d;
}
.tacheFaible:hover{
    -fx-background-color: #36b036;
}

.tacheMoyenne{
    -fx-background-color: orange;
}
.tacheMoyenne:hover{
    -fx-background-color: #FFD700;
}

.tacheImportante{
    -fx-background-color: red;
}

.tacheImportante:hover{
    -fx-background-color: #FF6347;
}

.racine{
    -fx-background-color: #706f6f;
}

.racine Label{
    -fx-text-fill: white;
}

.racine > Label{
    -fx-font-weight: bold;
}
